// Your custom settings file to override Foundation defaults
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// ----------------------------------------
// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "compass/css3";
// @import "foundation/settings";
// @import "foundation/functions/all";

// Control which mixins you have access too

// @import "foundation/mixins/clearfix";
// @import "foundation/mixins/css-triangle";
// @import "foundation/mixins/font-size";

// Must include next two for semantic grid to work

// @import "foundation/mixins/respond-to";
// @import "foundation/mixins/semantic-grid";

// @import "modular-scale";
// @import "foundation/common/globals";

// Must include the grid for any responsiveness

// @import "foundation/components/grid";

// Control which common styles get compiled

// @import "foundation/common/typography";
// @import "foundation/common/forms";

// Control which components you get if customizing

// @import "foundation/components/modules/buttons";
// @import "foundation/components/modules/tabs";
// @import "foundation/components/modules/ui";
// @import "foundation/components/modules/topbar";
// @import "foundation/components/modules/navbar";
// @import "foundation/components/modules/orbit";
// @import "foundation/components/modules/reveal";
// @import "foundation/components/modules/offcanvas";

// Media Queries Overrides
// @import "foundation/components/modules/mqueries";

.orange.button {background-color: #FF5C00;}

header {background: url('../img/bg.png') repeat-x top left;}
#header {background: url('../img/sunburst.png') no-repeat top center;padding:40px 0;}

header .promo p{
    color: white;
    font-size: 24px;
}

header .promo h1 {color: white;}

footer {background: black; padding: 60px 0;}
footer h3 {color:white;}
footer h5 {color:white;}
footer address {color:white;}
footer dt {color:white;}
footer dd {color:white;}
.panel ul {padding-left: 20px;}

#signup-page {margin-bottom: 20px;}
#reg_submit {float: right;}

@media only screen and (max-width: 767px) {
    header div.promo {text-align:center;}
    #signup_button {margin-bottom: 40px;}
}

.upgradebar .alert-box {margin-bottom: 0;}