html{color:#fff;font-family:'Open sans',sans-serif;font-size:16px;line-height:1.4;text-align:center}body{background:#222}a{color:#069;text-decoration:none}a:hover,a:focus,a:active{text-decoration:underline}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}h1{margin:0 0 .75em;font-size:3em;line-height:1.2em}h2{margin:1.5em 0 1em;font-size:2em}h3{margin:0 0 .5em;color:#555;font-size:1.25em}p{margin:0 0 2em}.grid{margin:0 -15px;letter-spacing:-.31em;word-spacing:-.43em;text-rendering:optimizespeed}.grid-cell{display:inline-block;vertical-align:top;width:50%;letter-spacing:normal;word-spacing:normal;text-align:left;text-rendering:auto}.grid-cell>*{padding:0 15px}.inline-block-list{padding:0;margin:0;list-style:none}.inline-block-list li{display:inline-block;padding:0;margin:0 0 0 1.0em;vertical-align:top}.inline-block-list li:first-child{margin-left:0}.icon{position:relative;top:5px;float:left;margin-right:5px}.flex-embed{position:relative;height:0;overflow:hidden;padding-bottom:56.25%;border:1px solid #999}.flex-embed iframe,.flex-embed embed,.flex-embed object{position:absolute;left:0;top:0;width:100%;height:100%}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.clearfix{*zoom:1}.container{max-width:850px;padding:0 10px;margin:0 auto}.aside{padding:1em 0;border:solid #e3e3e3;border-width:1px 0;background:#eee;font-size:1.125em}.cta-option{position:relative;display:inline-block;margin:1.5em .5em 0;vertical-align:top}.btn-download{position:relative;display:inline-block;vertical-align:middle;padding:.6em 1em;border:1px solid #995309;color:#fff;background:#d9750b;border-radius:4px;box-shadow:0 2px 5px -2px #111,inset 0 2px 5px 0 rgba(255,255,255,.3);font-size:1.5em;text-decoration:none}.btn-download:hover,.btn-download:focus,.btn-download:active{background:#e0811b;text-decoration:none}.btn-download:active{box-shadow:inset 0 2px 3px 0 rgba(0,0,0,.2);background:#cf6a00}.btn-download-alt{margin-top:.25em;border-color:#222;background:#444;box-shadow:none;font-size:1.25em}.btn-download-alt:hover,.btn-download-alt:focus,.btn-download-alt:active{background:#555}.btn-download-alt:active{background:#3f3f3f}.star{color:#e08524}.site-header{padding-top:30px}.site-logo{float:left;color:#fff;font-weight:700;font-size:24px;line-height:32px;text-decoration:none;text-transform:uppercase;text-shadow:2px 2px 0 #000}.site-nav{float:right;padding:0;margin:7px 0 0;list-style:none}.site-nav a{display:block;color:#e08524;text-decoration:none;text-transform:uppercase}.site-nav a:hover,.site-nav a:focus,.site-nav a:active{color:#fff}.site-promo{padding:3em 0}.site-promo .description{margin:1em 2em 0;font-size:1.25em;color:#ddd}.last-update{display:block;margin-top:10px;color:#999;font-size:.75em}.site-content{overflow:hidden;padding:1em 0 5em;color:#333;background:#fff}.in-the-wild{max-width:500px;margin:0 auto;font-size:1.25em;font-weight:700}.site-footer{padding:2em 0;font-size:.875em}.site-footer .container{max-width:500px}.site-footer a{color:#e08524}@media only screen and (max-width: 720px){.site-logo,.site-nav{ float:none}.site-nav li{margin:0 .5em}}@media only screen and (max-width: 500px){html{ font-size:14px}}@media only screen and (max-width: 460px){.grid-cell{ width:100%}}@media only screen and (max-width: 420px){html{ font-size:13px}h1{font-size:2.5em}}@media print{*{ background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}.flex-embed,iframe{display:none}.site-promo{margin-bottom:0}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}

.wrapper {background: url('../img/sunburst.png') no-repeat top center;}
body {background: url(../img/bg.png) repeat-x top left; }
footer {background: black;}

#logo_image {width: 237px; margin-top:20px;}

.site-logo a {color:white;}
.site-promo {padding: 0 0 2em 0;}
.site-header {padding: 10px 0;}
.site-promo .description {color:#fff;}
.cta-option {margin:1.5em 0.5em 0;}

#existing_login {margin-bottom: 3em;}
#existing_login input, #existing_login select {margin-left: 0;}
#create_login input, #create_login select {margin-left: 0;}
#signup-form {display:none;}

.site-content {text-align: left;}
footer {padding: 30px 0;}
footer h3 {color: white;}

.grid-cell input,
.grid-cell select {margin-left: 15px;}

pre {display: block;padding: 8.5px;margin: 0 0 9px;font-size: 12px;line-height: 18px;background-color: whiteSmoke;border: 1px solid #CCC;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;white-space: pre;word-break: break-all;overflow-x: scroll;}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.accordion {
  margin-bottom: 20px;
}
.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion-heading {
  border-bottom: 0;
}
.accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
  background: #f5f5f5;
}
.accordion-toggle {
  cursor: pointer;
}
.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.collapse.in {
  height: auto;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

#signup-page .grid-cell input, .grid-cell select {margin-left: 0;}


@media only screen and (max-width: 720px){
    .site-nav a {color:white;}
    .site-nav {margin:15px 0 0;}
    #logo_image {width: 205px;}
}

.content_meta {
    font-style: italic;
    margin-top: 1em;
}

.lt-ie8 .inline-block-list li {display: inline; float:left; margin-right: 0.5em;}